<div class="container-big-card" >
  <div class="big-card-photo" >
    <img
      src="../../../assets/IA.jpg"
      alt="photo"
      height="200px"
      width="500px"
          >
  </div>
  <div class="big-card-title" >
    <h1>Inteligência Artificial do Google transforma texto em imagem realista</h1>
  </div>
   <div class="big-card-description" >
      <p>
        Nessa semana o Google apresentou sua mais nova ferramenta que vai te fazer perder os limites da imaginação. Chamado de Imagen, o novo serviço transforma qualquer texto que você possa imaginar em uma imagem ultra realista ou em uma renderização artística.

        Quer ver como funciona? A página mostra alguns exemplos.
      </p>
      <div class="link">
        <a href="https://mundoconectado.com.br/noticias/v/25658/
        inteligencia-artificial-do-google-transforma-texto-em-imagem-realista">Saiba mais...</a>
      </div>
  </div>
</div>

