<div class="container_small" >
  <div>
    <img
      src="../../../assets/design.jpg"
      alt="photo"
      width="180px"
      height="122px"
    >
  </div>
  <div class="small_card_title" >
    <h1>
      Como Criar Imagens Incríveis para Seu Conteúdo (Mesmo que Você Não Seja um Artista Gráfico)
    </h1>

    <p>
      Criar imagens bonitas não pertence mais exclusivamente aos profissionais de design gráfico. Mesmo que o Photoshop ainda seja a melhor alternativa para o trabalho de design avançado, você agora pode criar seu próprio visual e estilo usando uma variedade de ferramentas de design gráfico baseadas na internet.
    </p>

    <a  class="link" href="https://neilpatel.com/br/blog/o-guia-completo-para-projetar-conteudo-visualmente-impressionante-mesmo-que-voce-nao-seja-um-artista-grafico/">Saiba mais</a>

  </div>
</div>
<div class="container__line" >
  <hr>
</div>

