.container_small {

  width: 655px;
  height: 170px;
  display: flex;
  flex-direction: row;
}

.small_card_title h1 {
  margin-left: 10px;
  font-size:15px;

}

.small_card_title p {
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 15px;
  font-size: 12px;
}

.link:hover {
  color: rgba(249, 252, 252, 0.63);;
}

.container__line {
  margin-bottom: 30px;
}

.link {
  margin-left: 360px;

}

.link:hover {
  color:rgba(201, 112, 40, 0.87);
}

@media screen and (max-width:360px) and (max-width:780) {
  .container_small {

    width: 325px;
    height: 85px;

  }

  .small_card_title h1 {
    margin-left: 10px;
    font-size:8px;

  }

  .small_card_title p {

    font-size: 6px;
  }
}
