
<app-menu-bar></app-menu-bar>

<app-title></app-title>


<div class="container__articles" >
  <div class="articles__main">
    <app-big-card
      photoCover="../../../assets/IA.jpg"
      cardTitle="Inteligência Artificial do Google transforma texto em imagem realista."
      cardDescription="Nessa semana o Google apresentou sua mais nova ferramenta que vai te fazer perder os limites da imaginação. Chamado de Imagen, o novo serviço transforma qualquer texto que você possa imaginar em uma imagem ultra realista ou em uma renderização artística."
      cardLink="https://mundoconectado.com.br/noticias/v/25658/
      inteligencia-artificial-do-google-transforma-texto-em-imagem-realista"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
    photoCover="../../../assets/design.jpg"
    cardTitle="Como Criar Imagens Incríveis para Seu Conteúdo (Mesmo que Você Não Seja um Artista Gráfico)."
    cardDescription="Criar imagens bonitas não pertence mais exclusivamente aos profissionais de design gráfico. Mesmo que o Photoshop ainda seja a melhor alternativa para o trabalho de design avançado, você agora pode criar seu próprio visual e estilo usando uma variedade de ferramentas de design gráfico baseadas na internet."
    cardLink="https://neilpatel.com/br/blog/o-guia-completo-para-projetar-conteudo-visualmente-impressionante-mesmo-que-voce-nao-seja-um-artista-grafico/"
    ></app-small-card>
    <app-small-card
    photoCover="../../../assets/youtube-logo2-750x422.jpg"
    cardTitle="Acesse as novidades do YouTube."
    cardDescription="O YouTube é o maior site para assistir vídeos do mundo, fundado por Chad Hurley, Steve Chen e Jawed Karim em fevereiro de 2005, nos Estados Unidos. Comprado pela Google em 2006, o site permite que os usuários compartilhem vídeos e interajam com seus criadores de conteúdo por meio de comentários."
    cardLink="https://www.youtube.com/"
    ></app-small-card>
    <app-small-card
    photoCover="../../../assets/download.png"
    cardTitle="Acompanhe as notícias"
    cardDescription="A Gazeta do Povo (GP) é um jornal sediado em Curitiba, no estado brasileiro do Paraná. O periódico circula semanalmente no formato impresso, mantendo suas notícias diárias no formato digital. Na atualidade é considerado o maior jornal do Paraná e o mais antigo em circulação no estado,[2] sendo publicado pela Editora Gazeta do Povo S.A., pertencente ao Grupo Paranaense de Comunicação (GRPCOM)"
    cardLink="https://www.gazetadopovo.com.br/?gclid=CjwKCAjw0N6hBhAUEiwAXab-TZtZhTerKaKN1hz9n6QR0GiKk0gR3Zqz0jFE_45kPjZVkrNUl7p-ZxoC0VoQAvD_BwE"
    ></app-small-card>
  </div>
</div>

<h1 class="title">Curiosidades Filmes</h1>

<hr>

<div class="container__articles" >
  <div class="articles__main">
    <app-big-card
      photoCover="../../../assets/ordem-cronologica-dos-filmes-da-marvel.jpg"
      cardTitle="Precisamos mesmo assistir a todos os filmes da Marvel?"
      cardDescription=" A cada título, filme ou série, que a Marvel tem lançado nos últimos anos, a questão apontada acima volta com tudo. Principalmente, entre o público que curte cultura pop mas não é apegado aos filmes de herói ou à sua narrativa repetitiva. Ou para aqueles que, como o grande cineasta Martin Scorsese, acham que essa estética não é cinema."
      cardLink="https://www.correio24horas.com.br/noticia/nid/precisamos-mesmo-assistir-a-todos-os-filmes-da-marvel/"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      photoCover="../../../assets/shazam.jpg"
      cardTitle="SHAZAM! Fúria Dos Deuses."
      cardDescription="Shazam! Fúria dos Deuses é a sequência do primeiro filme do herói que apresenta as aventuras do adolescente orfão Billy Batson (Asher Angel). Basta gritar uma palavra – SHAZAM! – para que o jovem se transforme no super-herói adulto Shazam (Zachary Levi), dom que recebeu de um antigo mago. Um menino dentro de um corpo de herói, Shazam se diverte com seus superpoderes e começa a testar os limites de suas habilidades."
      cardLink="https://www.adorocinema.com/filmes/filme-273207/"
    ></app-small-card>
    <app-small-card
      photoCover="../../../assets/jon.jpg"
      cardTitle="JOHN WICK 4: Baba Yaga"
      cardDescription="O assassino profissional retorna às telas para John Wick 4: Baba Yaga. O assassino profissional John Wick (Keanu Reeves) agora virou metade do submundo contra ele com sua vingança, que agora está entrando em sua quarta rodada em Nova York, Berlim, Paris e Osaka. Sua equipe, composta por Bowery King (Laurence Fishburne), o gerente do hotel Winston (Ian McShane) e o concierge Charon (Lance Reddick) do lendário hotel assassino Continental."
      cardLink="https://www.adorocinema.com/filmes/filme-274387/"
    ></app-small-card>

    <app-small-card
    photoCover="../../../assets/Homem-Aranha.webp"
    cardTitle="Homem-Aranha Sem Volta Para Casa."
    cardDescription="Em Homem-Aranha: Sem Volta para Casa, Peter Parker (Tom Holland) precisará lidar com as consequências da sua identidade como o herói mais querido do mundo após ter sido revelada pela reportagem do Clarim Diário, com uma gravação feita por Mysterio (Jake Gyllenhaal) no filme anterior. Incapaz de separar sua vida normal das aventuras de ser um super-herói, além de ter sua reputação arruinada por acharem que foi ele quem matou Mysterio."
    cardLink="https://www.adorocinema.com/filmes/filme-256880/"
    ></app-small-card>
  </div>
</div>



