<div class="flex justify-center font-bold p-5 bg-black text-white md:relative md:flex md:p-3" >
  <ul class="flex flex-col  md:flex-row duration-0">
    <li class="flex flex-row px-10 text-emerald-700 hover:text-emerald-300 "><a href="https://www.linkedin.com/in/devmanugomes/" target="_blank">Linkedin</a></li>
    <li class="flex flex-row px-10 " ><span class="flex text-transparent md:text-white">⸱</span></li>
    <li class="flex flex-row px-10 text-emerald-700 hover:text-emerald-300" ><a href="https://github.com/manudeveloper82" target="_blank"> GitHub</a></li>
    <li class="flex flex-row px-10 " ><span class="flex text-transparent md:text-white">⸱</span></li>
    <li class="flex flex-row px-10 text-emerald-700 hover:text-emerald-300" ><a href="https://www.instagram.com/manuinline/" target="_blank" >Instagram</a></li>
    <li class="flex flex-row px-10 " ><span class="flex text-transparent md:text-white">⸱</span></li>
    <li class="flex flex-row px-10 text-emerald-700 hover:text-emerald-300"  ><a routerLink="/content" >Séries/Filmes</a></li>
  </ul>
</div>
